@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* header css start */


.text p{
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #060709;
}
.search input{
    background: #B9F2E5;
}
.log img{
    cursor: pointer;
}
.search{
    position: relative;
}
.s-icon{
    font-size: 21px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    background: #11998E;
    border-radius: 5px;
    width: 50px;
    height: 35px;
    color: #ffff;
}


/* navigation components css */

.active{
    color: #fff !important;
    background: #11998E !important;
    cursor: pointer;
    border-radius: 5px;
    .icon{
        color: #fff !important;
    }
  }

  .customHover:hover{
    color: #fff !important;
    background: #11998E !important;
    padding: 5px;
    cursor: pointer;
    transition: all linear .3s;
    display: block;
    border-radius: 5px;
    .icon{
        color: #fff !important;
        transition: all linear .3s; 
    }
  }

  .left-area li{ 
    color: #060709;
    font-size: 16px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
  }
 

  .menuHeadline p{
    color: #060709;
    font-size: 16;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
  }

  .icon{
    color: #7B7B7B;
  }
  

  .rightArea h1{
    color: #060709;
    font-size: 22px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
  }

  .btn button{
    padding: 8px 18px;
    background: #11998E;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-family: "Barlow", sans-serif;
  }

  .textJob p{
    color: #060709;
    font-size: 14px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    padding-top: 30px;
  }

  .employeer{
    background: #B9F2E5;
    width: 191px;
    height: 51px;
    border-radius: 3px;
    padding-left: 56px;
    padding-top: 7px;
    margin-bottom: 10px;
    position: relative;
  }
  .employeer h4{
    color: #060709;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    font-family: "Barlow", sans-serif;
  }
  .employeer p{
    color: #060709;
    font-size: 12px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    margin: 0px;
  }
  .employeer span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
    position: absolute;
    left: 13px;
    top: 9px;
    background: #11998E;
    padding: 7px;
  }

  /* dashborad css start */

  .candidate h3{
    color: #060709;
    font-size: 16px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
  }
  .candidate p{
    color: #060709;
    font-size: 22px;
    font-weight: 700;
    font-family: "Barlow", sans-serif;

  }
  .form-label{
    color: #060709;
    font-size: 16px;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
  }

  /* applicaton css start */
  .NameInfo img{
    width: 50px;
    height: auto;
  }
  .NameInfo{
    position: relative;
  }
  .NameInfo p{
    color: #060709;
    font-size: 16px;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
   
  }
  .status p{
    color: #11998E;
    font-size: 16px;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
  }
  .date p{
    color: #060709;
    font-size: 16px;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
  }

.pagination li a{
  color: #060709;
  font-size: 16px;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  padding-left: 124px;
}
.range h6{
  color: gray;
  font-size: 13px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  position: absolute;
  left: 50px;
  top: 28px;
}
/* ==============All contact css start============================= */

.contactInfo p{
  color: #060709;
  font-size: 16px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
}

.contactImg img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 45px;
}

.conMainImg{
  position: relative;
}



/* ============Add contact page css start====================== */

.form p{
  color: #7A7F9A;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.form span{
  color: #7A7F9A;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.form{
  margin-top: 120px;
}
.form input{
width: 50%;
margin-bottom: 20px;
padding: 5px;
border: none;
border-radius:5px;
}




.btnSection{
  margin-left: 278px;
padding-top: 9px;
}
.btnSection button{
width: 50%;
}

